<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem name="IT Infrastructure"
              id="menu_infrastructure"
              sequence="20"
              groups="group_user" />

    <menuitem name="Computers"
              id="menu_it_infra_computers"
              sequence="5"
              parent="menu_infrastructure"
              groups="group_user" />

    <menuitem name="Servers"
              id="menu_it_infra_computers_servers"
              sequence="10"
              action="action_it_infra_computers_servers"
              parent="menu_it_infra_computers"
              groups="group_user" />

    <menuitem name="Workstations"
              id="menu_it_infra_computers_workstations"
              sequence="20"
              action="action_it_infra_computers_workstations"
              parent="menu_it_infra_computers"
              groups="group_user" />

    <menuitem name="Network"
              id="menu_it_infra_network_devices"
              sequence="7"
              parent="menu_infrastructure"
              groups="group_user" />

    <menuitem name="Routers"
              id="menu_it_infra_network_device_routers"
              sequence="5"
              action="action_it_infra_network_device_routers"
              parent="menu_it_infra_network_devices"
              groups="group_user" />

    <menuitem name="Switches"
              id="menu_it_infra_network_device_switches"
              sequence="10"
              action="action_it_infra_network_device_switches"
              parent="menu_it_infra_network_devices"
              groups="group_user" />

    <menuitem name="Access Points"
              id="menu_it_infra_network_device_access_points"
              sequence="15"
              action="action_it_infra_network_device_access_points"
              parent="menu_it_infra_network_devices"
              groups="group_user" />

    <menuitem name="Providers"
              id="menu_it_infra_providers"
              sequence="20"
              action="action_it_infra_providers"
              parent="menu_it_infra_network_devices"
              groups="group_user" />              

    <menuitem name="Assets"
              id="menu_it_infra_assets"
              sequence="10"
              parent="menu_infrastructure"
              groups="group_user" />

    <menuitem name="Printers"
              id="menu_it_infra_assets_printers"
              sequence="10"
              action="action_it_infra_assets_printers"
              parent="menu_it_infra_assets"
              groups="group_user" />

    <menuitem name="Scanners"
              id="menu_it_infra_assets_scanners"
              sequence="20"
              action="action_it_infra_assets_scanners"
              parent="menu_it_infra_assets"
              groups="group_user" />              

    <menuitem name="Consumer Goods"
              id="menu_it_infra_goods"
              sequence="15"
              parent="menu_infrastructure"
              groups="group_user" />

    <menuitem name="Supplies"
              id="menu_supplies"
              sequence="10"
              action="action_it_infra_supply_supplies"
              parent="menu_it_infra_goods"
              groups="group_user" />

    <menuitem name="Pendrives"
              id="menu_pendrives"
              sequence="20"
              action="action_it_infra_supply_pendrives"
              parent="menu_it_infra_goods"
              groups="group_user" />              

    <menuitem name="Configuration"
              id="menu_configuration"
              sequence="20"
              parent="menu_infrastructure"
              groups="group_manager" />

    <menuitem name="Servers"
              id="menu_configuration_server"
              sequence="10"
              parent="menu_configuration" />

    <menuitem name="Categories"
              id="menu_server_category"
              sequence="10"
              action="action_it_infra_server_category"
              parent="menu_configuration_server" />

    <menuitem name="Locations"
              id="menu_server_locations"
              sequence="20"
              action="action_it_infra_locations"
              parent="menu_configuration_server" />

    <menuitem name="Software"
              id="menu_configuration_software"
              sequence="20"
              parent="menu_configuration" />

    <menuitem name="Software"
              id="menu_software"
              sequence="10"
              action="action_it_infra_software_objects"
              parent="menu_configuration_software" />

    <menuitem name="Categories"
              id="menu_software_categories"
              sequence="20"
              action="action_it_infra_software_categories"
              parent="menu_configuration_software" />

    <menuitem name="Supplies"
              id="menu_configuration_supply"
              sequence="30"
              parent="menu_configuration" />

    <menuitem name="Categories"
              id="menu_supply_categories"
              sequence="10"
              action="action_it_infra_supply_categories"
              parent="menu_configuration_supply" />

    <menuitem name="Devices"
              id="menu_configuration_device"
              sequence="40"
              parent="menu_configuration" />

    <menuitem name="Categories"
              id="menu_device_categories"
              sequence="10"
              action="action_it_infra_device_categories"
              parent="menu_configuration_device" />

</odoo>